vCardPlatform/vCardGateway/App_Data/Entities.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="earningp_b">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="maxlimit_b">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="notnull">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="entities">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="entity">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string">
								<xs:unique name="id_unique">
									<xs:selector xpath="id"/>
									<xs:field xpath="."/>
								</xs:unique>
							</xs:element>
							<xs:element name="name" type="xs:string">
								<xs:unique name="name_unique">
									<xs:selector xpath="name"/>
									<xs:field xpath="."/>
								</xs:unique>
							</xs:element>
							<xs:element name="endpoint" type="notnull" />
							<xs:element name="maxlimit" type="maxlimit_b" />
							<xs:element name="earningpercentage" type="earningp_b" />
							<xs:element name="authentication">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="token" type="xs:string" />
										<xs:element name="username" type="xs:string" />
										<xs:element name="password" type="xs:unsignedShort" />
									</xs:sequence>
									<xs:attribute name="type" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>