vCardPlatform/vCardPlatform/log.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="log">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="xs:string" />
				<xs:element name="status" type="xs:string" />
				<xs:element name="timestamp" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>